.homepageMain {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  text-align: center;
}
.homepageMain > h1{
    margin-bottom: 20px;
}
.homepageMain > p{
    margin: 20px 0px;
}

.homepageMain > div > button {
  padding: 0.5rem 1rem;
  margin: 1rem 2rem;
  width: 7rem;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 0.5rem;
  transition: all 0.3ms ease-in-out;
  cursor: pointer;
}

.loginBtn {
  border: none;
  background-color: var(--primary);
}
.signupBtn {
  border: 3px solid var(--primary);
  background-color: transparent;
  color: white;
}
