@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --backgroud-color: #1b1616;
  --foreground-color: #e5e0e0;
  --primary:rgb(13, 170, 191);
  --secondary:rgb(12, 42, 45);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--backgroud-color);
  color: var(--foreground-color);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
